.content-sec{
  &.dotted-bg{
    position: relative;
    overflow: hidden;
    padding: 50px 0;
    .dotted-bg-img{
      position: absolute;
      left: 26.5%;
      top: 0;
    }
  }
  h2{
    color: #0F0A1E;
  }
  p{
    color: rgba(#4F4F4F, 0.8);
    width: em(410);
    max-width: 100%;
  }
  ul.circle-ul {
        margin: 0px;
        padding: 0;
        list-style: none;
        li {
            background: #F2C94C;
            width: 152.23px;
            height: 152.23px;
            border-radius: 100%;
            position: absolute;
            bottom: -20px;
            left: 70px;
            animation: mymove 8s infinite;
            &:nth-child(2) {
                width: 78.39px;
                height: 78.39px;
                background: #DE6339;
                bottom: inherit;
                top: 380px;
                right: 70px;
                left: inherit;
                animation: mymove 8s infinite 4s;
            }
        }
        &.circle-v2{
          li {
              width: 27.1px;
              height: 27.1px;
              bottom: inherit;
              top: 0px;
              left: 141px;
              &:nth-child(2) {
                  background: #97C254;
                  width: 56.97px;
                  height: 56.97px;
                  top: initial;
                  bottom: 0;
                  right: 0px;
                  left: initial;
              }
              &:nth-child(3) {
                  width: 27.1px;
                  height: 27.1px;
                  bottom: inherit;
                  top: 0px;
                  left: initial;
                  right: 100px;
                  filter: blur(7px);
                  background: #2ca8e7;
                  animation-delay: 10s;
              }
              &:nth-child(4) {
                  width: 86.17px;
                  height: 86.17px;
                  left: 0;
                  top: initial;
                  bottom: 0px;
                  background: #DE6339;
                  animation-delay: 13s;
              }
          }
          &.v3{
            li{
              bottom: 160px;
              top: initial;
              left: initial;
              right: 120px;
              &:nth-child(2) {
                  bottom: initial;
                  top: 90px;
                  left: 0px;
              }
              &:nth-child(3) {
                  top: 0px;
              }
            }
          }
        }
    }
}

@keyframes mymove {
  0% {transform: translate3d(10px, 10px, 10px) scale(1);}
  50% {transform: translate3d(50px, 30px, 50px) scale(0.9);}
  100% {transform: translate3d(10px, 10px, 10px) scale(1);}
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 767px) {

  .content-sec {
    text-align: center;
    &.dotted-bg {
      padding: 10px 0;
    }
    img {
      margin: 0 0 15px;
      max-width: 190px;
    }
  }

}