.content-sec{
  &.dotted-bg{
    position: relative;
    overflow: hidden;
    padding: 50px 0;
    .dotted-bg-img{
      position: absolute;
      left: 26.5%;
      top: 0;
    }
  }
  h2{
    color: #0F0A1E;
  }
  p{
    color: rgba(#4F4F4F, 0.8);
    width: em(410);
    max-width: 100%;
  }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 767px) {

  .content-sec {
    text-align: center;
    &.dotted-bg {
      padding: 10px 0;
    }
    img {
      margin: 0 0 15px;
      max-width: 190px;
    }
  }

}