footer{
  border-top: 8px solid $primary;
  background: $grey;
  color: $white;
  text-align: center;
  padding: em(90) 0 em(80);
  position: relative;
  z-index: 5;
}

.footer-logo{
  margin: 0 auto em(60) auto;
  display: block;
  width: em(258);
  height: em(99);
  img{
    width: 100%;
  }
}

.ft-sitemap-links{
  ul{
    list-style: none;
    padding: 0;
    margin:0 0 em(50) 0;
    li{
      display: inline-block;
      padding: 0 em(30);
      position: relative;
      a{
        position: relative;
        display: block;
        font-size: em(24);
        font-weight: 300;
        color: #F7F7F7;
        &:before{
          content: '';
          position: absolute;
          bottom: 0;
          left: auto;
          right: 0;
          width: 0;
          height: 1px;
          background: $white;
          @include transitions(0.5s);
        }
      }
      &:before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 2px;
        height: 100%;
        background: rgba($white, .2);
      }
      &:last-child{
        &:before{
          display: none;
        }
      }
      &.active{
        a{
          &:before{
            left: 0;
            right: auto;
            width: 100%;
          }
        }
      }
    }
  }
}

.ft-social-nav{
  ul{
    list-style: none;
    padding: 0;
    margin:0 0 em(30) 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    li{
      display: block;
      height: em(50);
      width: em(50);
      position: relative;
      margin: 0 em(10);
      a{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        position: relative;
        text-align: center;
        width: 100%;
        height: 100%;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: auto;
          right: 0;
          margin: auto;
          background: $info;
          height: 100%;
          width: 0;
          @include transitions(.5s);
        }
        i{
          position: relative;
          z-index: 2;
          &:before{
            font-size: em(24);
          }
        }
      }
    }
  }
}

.copyright-text{
  color: rgba($white, 0.6);
  font-size: em(14);
  margin: 0;
}

.download-app{
  margin-bottom: em(50);
  h5{
    color: $white;
  }
  ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    li{
      margin: 0 em(20);
      list-style: none;
      a{
        display: block;
        &:hover, &:focus{
          text-decoration: none;
        }
      }
    }
  }
}

.ft-more-links-click{
  display: none;
}

// Laptops large devices (desktops, 1600px and up)
@media (min-width: 1600px) and (max-width: 1699.98px) { }

// Laptops large devices (desktops, 1400px and up)
@media (min-width: 1400px) and (max-width: 1599.98px) {}

// Laptops small devices (desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1399.98px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .ft-sitemap-links {
    ul {
      li {
        a {
          &:hover {
            &:before {
              right: auto;
              left: 0;
              width: 100%;
            }
          }
        }
      }
    }
  }
  .ft-social-nav {
    ul {
      li{
        a{
          &:hover{
            &:before{
              width: 100%;
              left: 0;
              right: auto;
            }
            img{
              opacity: 0;
              &.hover-img{
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .ft-sitemap-links{
    ul{
      li{
        padding: 0 em(10);
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .ft-sitemap-links{
    ul{
      display: none;
      li{
        width: 100%;
        margin:0 0 em(15) 0;
        padding: 0 0 em(15) 0;
        &:before{
          display: none;
        }
        &:after{
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          margin: auto;
          height: 1px;
          background: rgba($white, 0.5);
          content: '';
        }
        a{
          font-size: em(28);
          color: rgba($white, 0.5);
          &:before{
            display: none;
          }
        }
        &:last-child{
          margin-bottom: 0;
          padding-bottom: 0;
          &:after{
            display: none;
          }
        }
        &.active{
          a{
            color: $white;
          }
          &:after{
            background: $white;
          }
        }
      }
    }
  }
  .ft-more-links-click{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: em(80);
    border: solid 1px rgba($white, 0.5);
    padding: em(15) em(30);
    color: $white;
    margin: 0 0 em(50) 0;
    span{
      font-size: em(26);
    }
    i{
      position: relative;
      top: em(3);
      &:before{
        font-size: em(20);
      }
    }

    &.active{
      i{
        &:before{
          content: "\73";
        }
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .ft-sitemap-links{
    ul{
      display: none;
      li{
        width: 100%;
        margin:0 0 em(15) 0;
        padding: 0 0 em(15) 0;
        &:before{
          display: none;
        }
        &:after{
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          margin: auto;
          height: 1px;
          background: rgba($white, 0.5);
          content: '';
        }
        a{
          font-size: em(28);
          color: rgba($white, 0.5);
          &:before{
            display: none;
          }
        }
        &:last-child{
          margin-bottom: 0;
          padding-bottom: 0;
          &:after{
            display: none;
          }
        }
        &.active{
          a{
            color: $white;
          }
          &:after{
            background: $white;
          }
        }
      }
    }
  }
  .ft-more-links-click{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: em(80);
    border: solid 1px rgba($white, 0.5);
    padding: em(15) em(30);
    color: $white;
    margin: 0 0 em(50) 0;
    span{
      font-size: em(26);
    }
    i{
      position: relative;
      top: em(3);
      &:before{
        font-size: em(20);
      }
    }

    &.active{
      i{
        &:before{
          content: "\73";
        }
      }
    }
  }
}
