footer {
    background: #161544;
    padding: 80px 0;
    h4 {
	    font-size: em(34);
	    color: #FFF;
	    font-weight: 600;
	    margin: 0 0 30px;
	}
	ul {
	    margin: 0;
	    padding: 0;
	    list-style: none;
	    li {
		    margin: 0 0 25px;
		    font-style: normal;
		    font-weight: 500;
		    font-size: 18px;
		    line-height: 21px;
		    color: #FFFFFF;
		    a {
			    font-style: normal;
			    font-weight: 500;
			    font-size: 18px;
			    line-height: 21px;
			    color: #FFFFFF;
			}
			&:last-child {
			    margin: 0px;
			}
		}
	}
	h6 {
	    font-style: normal;
	    font-weight: 600;
	    font-size: em(21);
	    line-height: 25px;
	    letter-spacing: 0.115em;
	    color: #FFFFFF;
	    margin: 0 0 24px;
	}
	.emailupd-mn {
	    position: relative;
	    input {
		    width: 100%;
		    padding: 16px 0;
		    background: transparent;
		    border: 0;
		    border-bottom: 2px solid #FFF;
		    font-style: normal;
		    font-weight: normal;
		    font-size: 21px;
		    line-height: 24px;
		    color: #FFFFFF;
		}
		button {
		    position: absolute;
		    right: 0;
		    height: 100%;
		    border: 0;
		    background: transparent;
		}
	}
}