.main-banner{
  background: url("../svgs/menu-bg.svg");
  background-size: cover;
  background-position: bottom center;
  //min-height: 100vh;
  padding: em(90) 0;
  h1{
    color: $white;
    /* Making it easy for your value to be seen. */
  }
  p{
    font-weight: 500;
    font-size: em(24);
    line-height: 1.54;
    color: #FFFFFF;
    opacity: 0.6;
    width: 50%;
    margin-bottom: em(30);
  }
}

.ie11{
  .main-banner{
    padding: 170px 0;
  }
}

.banner-video{
  margin: 0 em(40);
  max-height: em(650);
  border-radius: em(30);
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 767px) {

.main-banner {
    padding: 120px 0;
    text-align: center;
    h1 {
      font-size: em(40);
    }
    p {
      width: 100%;
    }
    .banner-video {
      margin: 40px 0 0;
    }
}

}