.icons-section{
  padding: em(15) 0 em(80);
}


.info-box{
  text-align: center;
  .info-icon{
    background: linear-gradient(135deg, #23BCBA 0%, #45E994 100%);
    height: em(118);
    width: em(118);
    margin: em(30) auto;
    display: flex;
    align-items: center;
    justify-content: center;
    @include borderRadius(50%);
    &.info-icon-2{
      background: linear-gradient(135deg, #38B8F2 0%, #843CF6 100%);
    }
    &.info-icon-3{
      background: linear-gradient(135deg, #FFDEA7 0%, #EA6362 100%);
    }
  }
  .info-text{
    p{
      margin: auto;
      font-weight: 500;
      font-size: em(21);
      line-height: 1.57;
      color: #0F0A1E;
      opacity: 0.6;
    }
  }
}